body{
    width: 1200px;
    margin: auto;
    background-color: #f2f2f2;
}

#top-section{
    height: 186px;
    width: 100%;
    background-image: url(image/templatemo-header-8.jpg);
    border-bottom: 5px solid #eee;
    box-shadow: 2px 2px 10px #999;
}
#logo-area{
    width: 30%;
    color: white;
    padding-top: 40px;
    padding-left: 40px;
    float: left;
}
#menu-area{
    width: 45%;
    float: right;
    text-align: right;
    margin-right: 35px;
  

}

#menu-area a{
    display: inline-block;
    color: blue;
    background-color: white;
    padding: 10px;
    margin-left: 5px;
    margin-top: 80px;
    text-decoration: none;
    
}
#menu-area a:hover{

    color: palevioletred;
    background-color: rgba(233, 233, 233, 0.753);
    
}
#content-area{
    height: 400px;
    background: linear-gradient(45deg,rgba(20,30,50,0.7),rgba(20,30,60,.2)),url(/image/charlie-harris-car-motion-unsplash.jpg) center #464646;
    margin: auto;
    border: 5px solid white;
    box-shadow: 2px 2px 10px #999;
    margin: 20px;
    color: white;
}
#content-area-text{
    margin: 80px 250px 80px 80px;
}
#content-area-text h3{
    line-height: 40px;
}
#content-area-text h3 a{
    text-decoration: none;
    color: blue;
}
#content-area-text h3 a:hover{
    text-decoration: underline;
    color: yellow;
}